[core]
  editor = vim
  excludesfile = ~/.gitignore
[user]
  name = tsuwatch
  email = neoen.gsn@gmail.com
[alias]
  commit = commit -v
  st = status
  co = checkout
  ci = commit
  br = branch

  l = log -p
  log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'

  ss = stash show -p

  di = diff
  d1 = diff HEAD~
  d2 = diff HEAD~~
  plr = !hub browse -- compare/$(git symbolic-ref --short HEAD)'?'expand=1'&'body=%23%23%20%E7%9B%AE%E7%9A%84%0A%0A%23%23%20%E5%A4%89%E6%9B%B4%E5%86%85%E5%AE%B9
  review = browse -- pulls/review-requested/@me
  fetchpr = "!f() { git fetch origin pull/\"$1\"/head:\"$1\"; }; f"
  open = browse
[ghq]
  root = ~/ghq
[include]
  path = .gitconfig.local
[http]
	postBuffer = 10M
